  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-md-2 text-white d-flex flex-column justify-content-between p-3 barra-vertical">
        <div class="menu">
          <div class="menu-item mb-3">
             <img src="assets/img/dashIcon.png" alt="Ícone" class="img-fluid"> Dashboard
          </div>
          <div class="menu-item mb-3 active">
            <i class="fa fa-upload"></i> Upload de Imagens
          </div>
        </div>
        <div class="logout">
          <a href="#" class="text-white">Sair</a>
        </div>
      </div>
      <div class="col-md-10 bg-light d-flex flex-column justify-content-center align-items-center">
        <h1 class="mb-5 text-success">Processamento de imagens</h1>
        <div class="border border-dark rounded p-5 d-flex flex-column justify-content-center align-items-center" style="width: 50%; height: 300px; cursor: pointer;">
          <i class="fa fa-folder-open fa-3x text-success mb-3"></i>
          <span class="text-success">Carregar arquivo</span>
        </div>
      </div>
    </div>
  </div>
