*{
  margin:0;
  padding:0;
}
.container-fluid {
  height: 100vh!important;
}
.barra-vertical{
  background-color: #2A492B;
}
.dashboard p, .logout a, .principal h1{
  font-weight: 600;
}
.dashboard p img{
  height: 30px;
  margin-top: -4px;
}
.menu-item{
  cursor: pointer;
  background-color: #518D53;
  width: 100%;
}
.menu-item p img{
  height: 18px;
  margin-top: -4px;
}
.menu-item p{
  margin-left: 20px;
  font-size: 0.8em;
}
.principal h1{
  color: #2A492B;
}
.principal .upload{
  margin: -50px 0px 0px 20px;
  width: 50%; 
  height: 60%; 
  cursor: pointer;
  max-height: 500px;
}
.upload img{
  margin-top: 50px;
  height: 130px;
}
.upload p{
  color: #518D53;
  font-size: 2em;
}
.img-preview {
  width: 100%;
  height: 100%!important;
  margin-top: 0px!important;
  object-fit: cover; 
}
.header-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.voltar-icon {
  position: absolute;
  left: 0;  
  max-height: 95%;
  margin-left: 20px;
  cursor: pointer;
}
.button-container{
  margin-left: 20px;
}
.btn-processamento{
  color: white;
  background-color: #2A492B;
  font-weight: 600;
  border: none;
  width: 170px;
  border-radius: 5px;
}
@media (max-width: 850px) {
  .button-container {
    flex-direction: column; 
    align-items: center;    
  }
  .principal h1, .upload p{
    font-size: 1.8em;
    text-align: center;
  }
  .button-container button {
    width: 100%;            
    margin-bottom: 10px;     
  }
}
@media (max-width: 500px) {
  .principal h1, .upload p{
    font-size: 1.8em;
    text-align: center;
  }
  .principal h1{
    margin-top: 50px;
  }
  .voltar-icon{
    height: 50px;
    margin-left: 10px;
    margin-top: -20px;
  }
}
