* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    height: 100vh !important;
}

.barra-vertical {
    background-color: #2A492B;
}

.dashboard p, .logout a, .principal h1 {
    font-weight: 600;
}

.dashboard p img {
    height: 30px;
    margin-top: -4px;
}

.menu-item {
    cursor: pointer;
    background-color: #518D53;
    width: 100%;
}

.menu-item p img {
    height: 18px;
    margin-top: -4px;
}

.menu-item p {
    margin-left: 20px;
    font-size: 0.8em;
}

.principal h1 {
    color: #2A492B;
}

.principal .upload {
    margin: -50px 0px 0px 20px;
    width: 50%; 
    height: 60%; 
    cursor: pointer;
    max-height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative; 
}

.upload p {
    color: #518D53;
    font-size: 2em;
}

.img-preview {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0; 
    left: 0;
}

.header-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
}

.voltar-icon {
    max-height: 50px;
    margin-left: 20px; 
    cursor: pointer;
}

.button-container {
    margin-left: 20px;
}

.btn-processamento {
    color: white;
    background-color: #2A492B;
    font-weight: 600;
    border: none;
    width: 170px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .voltar-icon {
       margin: 10px 0px 0px 10px!important;
    }

    .principal h1 {
        text-align: left; 
        margin-top: 0;
        margin-left: 20px; 
    }
}

@media (max-width: 500px) {
    .principal h1, .upload p {
        font-size: 1.8em;
        text-align: center;
    }
    .principal h1 {
        margin-top: 50px;
    }
    .voltar-icon {
        height: 50px;
        margin-left: 10px;
        margin-top: -20px;
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.table th, .table td {
    padding: 12px 20px;
    text-align: center;
    font-size: 0.9rem;
    color: #333;
    font-family: 'Roboto', sans-serif;
    border-right: 1px solid #e0e0e0;
}

.table th:last-child, .table td:last-child {
    border-right: none;
}

.table th {
    background-color: rgba(128, 128, 128, 0.358);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.table td {
    background-color: #f9f9f9;
    color: #555;
}

.table tbody tr {
    transition: background-color 0.3s;
}

.table tbody tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

hr {
    border-color: #2A492B;
    border-width: 1px;
    margin: 20px 0;
    opacity: 0.5;
}

.table-success th, .table-success td {
    font-size: 0.9rem;
    font-weight: 400;
}